/* 1. Google Fonts からフォント（Inter）の読み込み */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

/* 2. ページ全体のフォントの設定 */
body {
    font-family: 'Inter', sans-serif;
}

/* 3. テキストエリアの枠線の色の変更 */
textarea {
    transition: border-color 0.3s, box-shadow 0.3s;
}